.pin-container{
    position: absolute;
    bottom: 32px;
    width: calc(100% - 40px * 2);
}
.sum-container{
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: end;
}
.sum-div{
    display: flex;
    width: 226px;
    height: 48px;
    align-items: center;
    border-radius: 4px;
    border: solid 1px #EBEBEB;
    color: #ADADAD;
}
.sum-title{
    width: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: solid 1px #EBEBEB;
}
.sum-input{
    padding-left: 20px;
}
.hr{
    border: solid 1px #EBEBEB;
    margin-top: 30px;
}
.btn-group{
    display: flex;
    justify-content: end;
    column-gap: 12px;
    margin-top: 32px;
}
.delete-btn, .save-btn{
    width: 86px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.delete-btn{
    border: solid 1px #FF3B30;
    color: #FF3B30;
}
.save-btn{
    background-color: #036CE7;
    color: white;
}