.container {
    margin: 0 15vw 20vh 15vw;
    min-height: 80vh;
}

.top-section {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    gap: 8px;
}

.sub-button {
    width: fit-content;
    outline: none;
    background-color: none;
    border: 1px solid var(--primary-500);
    padding: 4px 24px;
    background-color: white;
    color: var(--primary-500);
    cursor: pointer;
}

.main-button {
    width: fit-content;
    outline: none;
    background-color: none;
    border: 1px solid var(--primary-500);
    padding: 4px 24px;
    background-color: var(--primary-500);
    color: white;
    cursor: pointer;
}

.sec-button {
    width: fit-content;
    outline: none;
    background-color: none;
    border: 1px solid var(--gray-200);
    padding: 4px 24px;
    background-color: white;
    color: var(--gray-600);
    cursor: pointer;
}

.count {
    color: var(--gray-500); 
}

.answer-list {
    display: flex;
    flex-direction: column;
    gap: 52px;
    margin-bottom: 82px;
}