.main {
    margin: 180px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titles {
    text-align: center;
}

.sub-title {
    color: var(--primary-500);
    font-weight: 500;
    font-size: 0.9rem;
}

.main-title {
    color: var(--gray-900);
    font-weight: 500;
    font-size: 2rem;
}

.categories-container {
    padding: 0 20vw;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 16rem 16rem;
    row-gap: 20px;
    column-gap: 20px;
    margin: 80px 0 60px;
}

.category-container {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    color: #FFF;
}

.icon {
    font-size: 3.25rem;
}

.category-sub {
    margin-top: 1rem;
    color: #FFF;
    font-size: 0.9rem
}

.category-main {
    margin-top: 0.75rem;
    color: #FFF;
    font-size: 2rem;
    font-weight: 700;
}

.go-category {
    margin-top: 10.7rem;
    padding: 1rem 1.7rem;
    text-align: left;
    outline: none;
    border: none;
    background-color: #FFF;
    border-radius: 8px;
    color: #036CE7;
    cursor: pointer ;
}

#all {
    grid-row: 1 / 3;
    background-color: var(--primary, #036CE7);
}

#all > .category-main {
    margin-top: 1.6rem;
}

#home {
    background-color: #79A7FF;
}

#deco {
    background-color: #C3A7FF;
}

#price {
    background-color: #FFA1B2;
}

#tip {
    background-color: #34D6CC;
}

.go-write {
    padding: 13px 16px;
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin: 0 20vw 72px 0;
    gap: 8px;
    border: 1px solid #036CE7;
    border-radius: 8px;
    cursor: pointer;
}

.go-write > div {
    color: #036CE7;
    font-weight: 500;
    font-size: 1rem;
}

.pen-icon {
    color: var(--primary);
    font-size: 24px;
}
