.articles-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 96px;
    flex-direction: column;
    padding: 0;
    margin: 300px auto 160px auto;
}

.article-section {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin: 0 auto;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goto-more-articles {
    display: flex;
    align-items: center;
    color: var(--primary-300, #68A7F0);
    text-align: right;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    cursor: pointer;
}

.goto-label {
    text-align: right;
    font-size: 0.9rem;
}

.section-label {
    color: #000;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

.articles { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.article {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.article-thumbnail {
    width: 15vw;
    height: 20vh;
    max-width: 306px;
    max-height: 220px;
    border-radius: 8px;
    background: #D9D9D9;
}

.article-title {
    color: var(--gray-900, #766565);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; 
}

.article-date {
    color: var(--gray-300, #C2C2C2);
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px; /* 160% */
}