.banner {
    display: flex;
    align-items: center;
    height: 800px;
    margin-top: 100px;
    background: url("/public/images/mainbanner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.slogan-container {
    margin: 0 0 0 20vw;
}

.main-slogan {
    color: #FFF;
    width: 26vw;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.sub-slogan {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
}

.card-container {
    margin: 0 0 0 115px;
    display: flex;
    gap: 16px;
}

.next-btn {
    position: absolute;
    right: 10vw;
    top: 43%;
    width: 42px;
    height: 42px;
    border: none;
    outline: none;
    border-radius: 50%;

}



