@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

:root {
    --gray-100: rgba(248, 248, 248, 1);
    --gray-300: rgba(235, 235, 235, 1);
    --gray-500: rgba(153, 153, 153, 1);
    --gray-600: rgba(122, 122, 122, 1);
    --gray-900: rgba(31, 31, 31, 1);
    --primary-300: rgba(104, 167, 240, 1);
    --primary-500: #036CE7;
    --error: #FF3B30;
}

body,
html {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
    list-style: none;
    color: var(--gray-900)
}