#main {
    width: 100%;
}

.category-container {
    display: flex;
}

.category-item {
    width: 15vw;
    height: 60px;
    text-align: center;
    border-bottom: 1px solid var(--gray-200);
    font-size: 1.2rem;
    font-weight: 500;
}

.no-category {
    width: 20vw;
}