#main {
    width: 100%;
}

/* 카테고리 */
.category-container {
    display: flex;
}

.category-item {
    width: 15vw;
    height: 60px;
    text-align: center;
    border-bottom: 1px solid var(--gray-200);
    font-size: 1.05rem;
    font-weight: 500;
}

.no-category {
    width: 20vw;
}

/* 검색 필터 */
.filter-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 24px 20vw 28px 20vw;
}

.filter-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid var(--gray-400, #ADADAD);
}

.filter-text {
    color: var(--gray-600, #7A7A7A);
    font-family: Noto Sans KR;
    font-size: 0.9rem;
    font-weight: 400;
}

/* 글 목록 */
.article-list {
    padding: 0 20vw 180px 20vw;
}

.article-container {
    display: flex;
    gap: 36px;
    padding: 20px 0 20px 2vw;
}

.text-content {
    width: 100%;
}

.thumbnail {
    width: 305px;
    height: 120px;
    border-radius: 8px;
    background-color: var(--gray-300);
}

.main-contents {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 0 8px 0;
}

.article-title {
    color: var(--gray-900, #1F1F1F);
    font-size: 1.2rem;
    font-weight: 500;
}

.article-date {
    color: var(--gray-500, #999);
    font-size: 0.8rem;
    font-weight: 500;
}

.sub-contents {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.article-content {
    width: 80%;
    height: fit-content;
    color: var(--gray-600, #7A7A7A);
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
}

.article-likes {
    color: var(--gray-500, #999);
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0 0 4px 0;
}

.pagination-container {
    display: flex;
    align-items: center;
    gap: 12px;
    width: fit-content;
    height: 26px;
    margin: 0 auto 100px auto;
}

.page-count {
    width: 26px;
    height: 26px;
    text-align: center;
    color: var(--gray-700);
    cursor: pointer;
    font-size: 1rem;
}

.pagination-icon {
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--gray-7);
}
