@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body,
html {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
    list-style: none;
}