.main {
    margin: 147px 0 0 0;
    padding: 0 16vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 24% calc(76% - 133px);
    column-gap: 133px;
}

.profile-box {
    border-radius: 20px;
    border: 1px solid var(--gray-200);
    padding: 30px 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 552px;
}

.profile-image-wrap {
    position: relative;
    display: flex;
    justify-self: center;
}

.profile-image {
    width: 70px;
    height: 70px;
}

.edit-button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    left: 52px;
    top: 50px;
    background-color: var(--primary-500);
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-button-icon{
    font-size: 10px;
    color: white;
}

.name {
    margin-top: 16px;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--primary-500);
}

.email {
    font-weight: 400;
    font-size: 0.82rem;
    color: var(--gray-400);
    margin: 0 0 30px 0;
}

.users-active {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 0 12px 0;
}

.active-label-box{
    display: flex;
    column-gap: 4px;
    align-items: center;
}

.active-label {
    font-weight: 400;
    font-size: 0.82rem;
    line-height: 160%;
    color: var(--gray-900);
}

.count {
    font-weight: 400;
    font-size: 0.82rem;
    line-height: 160%;
    color: var(--gray-500);
}

.divider {
    margin: 8px 0 20px 0;
    width: 100%;
    border: 0.5px solid var(--gray-100);
}

.mention {
    align-self: flex-start;
    color: var(--gray-900);
    font-weight: 400;
    font-size: 0.9rem;
    margin: 0 0 20px 0;
}

button {
    width: 100%;
    font-weight: 400;
    font-size: 0.95rem;
    border-radius: 8px;
}

.to-info {
    background-color: var(--primary-500);
    color: #fff;
    margin: 0 0 14px 0;
}

.to-qna {
    background-color: #fff;
    border: 1px solid var(--gray-200);
    margin: 0 0 42px 0;
}

.logs {
    justify-self: flex-end;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.log-item {
    color: var(--gray-300);
    font-weight: 400;
    font-size: 0.88rem;
}

.alert-shadow{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.12);
    z-index: 1500;
}

.alert-box{
    position: absolute;
    background-color: white;
    width: 590px;
    height: 270px;
    padding: 52px 72px;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1500;
}


.alert-title{
    font-size: 24px;
    font-weight: 500;
    color: black;
    margin-bottom: 16px;
    text-align: center;
}

.alert-comment{
    font-size: 14px;
    color: var(--gray-300);
    text-align: center;
    margin-bottom: 24px;
}

.alert-btns{
    width: 100%;
    height: 50px;
    display: flex;
    column-gap: 16px;
}

.alert-btn-no{
    width: 215px;
    border: 1px solid var(--gray-200);
    border-radius: 8px;
    color: var(--gray-300);
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-btn-yes{
    width: 215px;
    height: 100%;
    border: none;
    background-color: var(--primary-500);
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
