.comment-box{
    position: relative;
    height: 100%;
}
.comment-title-box{
    display: flex;
    column-gap: 8px;
    align-items: center;
    margin-bottom: 20px;
}
.comment-title{
    font-weight: 500;
    font-size: 20px;
    color: var(--gray-800);
}
.comment-length{
    font-weight: 500;
    font-size: 16px;
    color: var(--primary-500);
}
.comment-list{
    position: relative;
    width: 100%;
    height: calc(113px * 6 + 12px * 5);
}
.comment-pages{
    position: absolute;
    bottom: 60px;
    right: 0;
    display: flex;
    align-items: center;
}
.comment-pages > * {
    color: var(--gray-700);
}
.prev-btn{
    transform: rotate(-90deg);
    font-size: 24px;
}
.current-page{
    width: 26px;
    height: 26px;
    text-align: center;
    color: var(--primary-500);
}
.slash{
    font-size: 13px;
}
.all-pages{
    width: 26px;
    height: 26px;
    text-align: center;
}
.next-btn{
    transform: rotate(90deg);
    font-size: 24px;
}
